$font: 'Montserrat',
sans-serif;

body {
    margin: 0px;
    padding: 0px;
    font-family: $font;
}

#front_page {
    width: 100%;
    float: left;
    padding-top: 150px;
    text-align: center;
    padding-bottom: 50px;

    .wrapper {
        max-width: 1000px;
        margin: 0px auto;
        position: relative;

        input {
            width: 100%;
            padding: 15px 50px;
            box-sizing: border-box;
            outline: none;
            border-bottom: 2px solid #eee;
            border-top: none;
            border-left: none;
            border-right: none;
            font-size: 40px;
            text-align: center;
            font-family: $font;
            font-weight: 700;
            transition: all 0.3s;

            &:focus {
                border-bottom: 2px solid #000;
            }
        }

        button {
            position: absolute;
            top: 50%;
            background: transparent;
            color: #000000;
            border: none;
            right: 20px;
            transform: translateY(-50%);
        }
    }

    .con {
        max-width: 1000px;
        margin: 0px auto;
        width: 100%;
    }

    .articles {
        padding-top: 50px;
        width: 100%;

        .article {
            width: 100%;
            float: left;
            padding: 20px;
            margin-bottom: 20px;
            box-sizing: border-box;
            border: 2px solid #eee;
            border-radius: 20px;

            h3 {
                font-size: 20px;
                font-weight: 700;
                color: #000;
                font-family: $font;
                width: 100%;
                float: left;
                text-align: left;
                margin-bottom: 20px;
                margin-top: 0px;

                a {
                    color: #000;
                    text-decoration: none;
                }
            }

            span {
                float: left;
                font-size: 12px;
                font-weight: 700;
                color: #000;
                margin-right: 20px;
            }
        }
    }
}